<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="form">
      <div class="container">
        <div class="general-info">
          <header>
            <h2 class="general-info__title">Education and Qualifications</h2>
          </header>

          <hr />

          <div class="form__item flex-2-col">
            <div class="flex-1-col flex-full flex-2-col__left">
              <label for="">Degree</label>
              <input type="text" />
            </div>
            <div class="flex-1-col flex-full flex-2-col__right">
              <label for="">City/Town</label>
              <input type="text" />
            </div>
          </div>

          <div class="form__item flex-1-col">
            <label for="">School</label>
            <input type="text" />
          </div>

          <div class="form__item flex-2-col">
            <div class="flex-1-col flex-full flex-2-col__left">
              <label for="">Email address</label>
              <input type="text" />
            </div>
            <div class="flex-1-col flex-full flex-2-col__right">
              <label for="">Phone number</label>
              <input type="text" />
            </div>
          </div>

          <div class="form__item flex-1-col">
            <label for="">Description</label>
            <input type="text" />
          </div>

          <footer class="flex flex-end">
            <button class="form__btn">Save</button>
          </footer>
        </div>
      </div>
    </section>
  </body>
</html>
