* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding-bottom: 5rem;
}

/*****************
Initial Settings
******************/

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

/*****************
Re-usable Classes
******************/

.container {
  max-width: 850px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

.col + .col {
  margin-left: 1.5em;
}

/*****************
Layout
******************/

.page-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  color: #fff;
  margin-bottom: 0.75em;
}

/*****************
Header
******************/

.header {
  padding: 2rem;
}

.page-logo {
  font-size: 1.2rem;
}

/*****************
Form
******************/

.form {
  max-width: 850px;
  padding-top: 2em;
}

.form__content {
  padding: 0 2.5em;
  padding-bottom: 3em;

  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  background: #fff;
}

/* .form__header {
  border-bottom: 1px solid #dedede;
} */

.form__title {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1.6em 0;
}

.form__info-field {
  border-top: 1px solid #dedede;
}

.form__row {
  margin-top: 1em;
}

.form__label {
  display: inline-block;
  color: #4c4c4c;
  padding: 0 0 8px;
}

.form__input {
  font-size: 1rem;
  padding: 0.75rem;
  width: 100%;
  border-radius: 3px;
  border: 2px solid #eaeaea;
}

.form__input:focus {
  outline-color: #7eb7f6;
  border: 2px solid #7eb7f6;
}

.form__footer {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
}

.form__btn {
  color: #fff;
  background: #626ccc;
  transition: all 0.5s ease;

  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  outline: none;
  border: none;
  border-radius: 4px;

  padding: 0.5em 2em 0.5em 3em;
  display: inline-block;

  cursor: pointer;

  font-size: 1.125rem;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__btn:hover {
  text-decoration: underline;
}

.next-icon {
  fill: #fff;
  width: 2rem;
  height: 2rem;
}

.form__small-btns {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.form__small-btn {
  border-radius: 4px;

  padding: 0.4em 0.75em;

  color: #4c4c4c;

  font-size: 0.8rem;
  background: #ffffff;
  transition: all 0.5s ease;
  border: 2px solid #e6e5e5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form__small-btn:hover {
  color: #e74b4b;
  text-decoration: underline;
}

.form__small-btn + .form__small-btn {
  margin-left: 0.5rem;
}

.small-btn__icon {
  width: 1.25;
  height: 1.25rem;
}

.form__add-another-btn {
  width: 100%;
  padding: 1rem 0;
  background: #f1f1f1;
  color: #4c4c4c;
  border-radius: 6px;
  font-size: 0.9rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-another-btn__icon {
  fill: #4c4c4c;
  width: 20px;
  height: 20px;
  margin-right: 0.2rem;
}

/*****************
Form Card
******************/

.form__card {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  border-top: 1px solid #e5e5e5;
}

.form__card-job-title {
  font-weight: 700;
}

.form__card-icons {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.form__card-icon {
  cursor: pointer;
}

.form__card-icon + .form__card-icon {
  margin-left: 2rem;
}

.form__card-delete:hover {
  fill: #f24242;
}

.form__card-edit:hover {
  fill: #2fb9ff;
}

/* Progress Bar */

.progress-bar {
  margin: 0 auto;
  position: relative;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar__bar {
  position: relative;
  width: 100%;
  max-width: 450px;
  background: #81e1a9;
  height: 8px;
  border-radius: 5px;
  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.progress-bar__filler {
  background: #6169cf;
}

.progress-bar__buttons {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0;
  padding: 0;

  top: -24px;

  display: flex;
  justify-content: space-between;
}

.progress-bar__button {
  background: #81e1a9;
  margin: 0;
  padding: 0;
  height: 38px;
  width: 38px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar__button--completed {
  background: #6169cf;
}

.progress-bar__icon {
  fill: #1fc565;
}

.progress-bar__icon--completed {
  fill: #fff;
}

.progress-bar__label {
  position: absolute;
  color: #fff;
  top: 40px;
}

/* HeadingBg */

.heading-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 580px;
  background: #2dc46a;
  clip-path: polygon(0 0, 100% 0, 100% 46%, 0 67%);
}
